*
{
  margin: 0;
  padding:0;
}

body
{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

 h1,h2,h3,h4,h5,h6
 {
  padding: 5rem 2rem 1.5rem 2rem;
  color: grey;
 }

a
{
  text-decoration: none;
  color: grey;

}

nav
{
  background-color:#fff;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2.2rem 2.2rem;
}

nav > a
{
  color: black;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.7rem;
  padding: 0 0 0 7rem;
}

nav > a:nth-child(1):hover
{
  color: grey;
}

nav > ul > li 
{
  display: inline-block;
  padding: 0 0.2rem 0 0.2rem;
  font-size: 0.8rem;
  font-family: 'Work Sans', sans-serif;
}

nav > ul > li:nth-child(1)  
{
  font-weight: bold;
}

nav > ul > li > a:nth-child(1)
{
  color: #000000;
}

nav > ul > li a:hover
{
  color: black;
}

nav > ul 
{
  grid-column: 2/span 4;
}

header
{
 position: relative;
 background-image: url("../img/attics.jpg");              
 height: 100vh;
 background-size: cover;
 background-position: center center;
 display:grid;
 grid-template-columns: 1fr;
 align-items:center;
 justify-items:center;
}

#img-cover
{
 position: absolute;
 height: 100%;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.15);                  
 z-index:1;
}

header > p 
{
  position:absolute;
  font-size:3.8rem;
  color:#fff;
  z-index: 2;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.btn
{
  color: #fff;
  background-color:#000000;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1.2rem 2rem 1.2rem 2rem;
  border: 2px solid #000000;
  border-radius: 3px;
}

.btn:hover
{
  background-color: #000000;
  color: #fff;
}

#main 
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 6rem 8rem 0 8rem;
}

#main div
{
  border-bottom: solid 0.3px #d4d0d0;
  padding-bottom: 8rem;
}

#info
{
  grid-column: 1/span 2;
}

#info > p:nth-child(1)
{
  color: rgb(126, 124, 124);
  font-size: 2.4rem;
  font-family: 'Cardo', serif;
}

#info  p
{
  color: grey;
  font-size: 0.9rem;
  font-family: 'Work Sans', sans-serif; 
  padding: 1.5rem 4rem 1rem 0;
}

#amenities
{
  font-family: 'Work Sans', sans-serif;
}

#amenities > p:nth-child(1)
{
  color:#000000;
  font-size: 1.3rem;
  padding: 0;
}

#amenities  p
{
  color: grey;
  font-size: 0.9rem;
  padding: 2rem 7rem 0 0;
}
 
#rates > p:nth-child(1)
{
  color:#000000;
  font-size: 1.3rem;
   
  padding: 0;
}

.peak
{
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
}

#rates > p:nth-child(1)
{
  padding: 0;
}

#rates > ul > li
{
  color: grey;
  font-size: 0.9rem;
  padding-left: 0;
  list-style-type: none;
}

#reviews
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 8rem 2rem 8rem;
}

#reviews  h2
{
  color: #000000;
  font-size: 1.4rem;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-weight: normal;
}

#reviews_p
{
  color: rgb(126, 124, 124);
  font-size: 2.2rem;
  font-family: 'Cardo', serif;
  padding: 3rem 0 0 8rem;
}

#reviews p
{
  color: grey;
  font-size: 0.9rem;
  font-family: 'Work Sans', sans-serif; 
  text-align: center;
}

#reviews  div
{
   border-bottom: solid 0.3px #d4d0d0;
   padding-bottom: 5rem;
}

#reviews_ja
{
 padding-right: 1rem;
}

#reviews_jy
{
  padding-left: 1rem;
}

#gallery > p
{
  color: rgb(126, 124, 124);
  font-size: 2.2rem;
  font-family: 'Cardo', serif; 
  padding: 1.5rem 0 0.5rem 8rem;
}

#gallery img
{
  width:100%;
  height:auto;
}

#gallery1
{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

#gallery1 > div:nth-child(1)
{
   padding: 2rem 0.65rem 0.5rem 8rem;
}

#gallery1 > div:nth-child(2)
{
  padding: 2rem 8rem 0.5rem 0.65rem;
}

#gallery2
{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

#gallery2 > div:nth-child(1)
{
   padding: 0.5rem 0.65rem 0.5rem 8rem;
}

#gallery2 > div:nth-child(2)
{
  padding: 0.5rem 8rem 0.5rem 0.65rem;
}

#conclude
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 3rem 8rem 7rem 8rem;
}

#conclude > div:nth-child(1)
{
  grid-column: 1/span 3;
}

#conclude > div > p:nth-child(1)
{
  color: rgb(126, 124, 124);
  font-size: 2.2rem;
  font-family: 'Cardo', serif; 
}

#conclude  div
{
  border-top: solid 0.3px #d4d0d0;
  padding: 4rem 0 5rem 0;
}

#conclude > div:nth-child(2)
{
  padding-left: 11rem;
}
#conclude > div > p:nth-child(2)
{
  color: grey;
  font-size: 0.9rem;
  font-family: 'Work Sans', sans-serif; 
  padding-top: 2rem;
}

footer
{
  text-align: center;
  font-size: 0.8rem;
  padding: 1.5rem 0 3rem 0;
  border-top: solid 0.3px #d4d0d0;
}

footer a:hover
{
  color: #000000;
}



@media(max-width:768px)
{

nav > a
{
  padding: 0 5rem 0 0;
}

#intro > div > p
{
  line-height: 6vw;
}

#main
{
  padding: 6rem 1.5rem 0 1.5rem;
}

#info > p:nth-child(1)
{
  line-height: 8vw;
}

#amenities  p
{
  padding: 2rem 2.5rem 0 0;
}

#reviews_p
{
  padding: 3rem 0 0 1rem;
}

#reviews
{
  
  padding: 2rem 1rem 2rem 1rem;
}

#reviews h2
{
  line-height: 5vw;
}

reviews_ja > p
{
  padding-right: 1rem;
}

#reviews_ja
{
 padding-right: 0;
}

#reviews_jy
{
  padding-left: 0;
}

#reviews_jy > p
{
 padding-left: 1rem;
}

#reviews_ja
{
 padding-right: 1rem;
}

#gallery > p
{
  padding-left: 1.5rem;
}

#gallery1 > div:nth-child(1)
{
   padding: 2rem 0.65rem 0.5rem 1.5rem;
}

#gallery1 > div:nth-child(2)
{
  padding: 2rem 1.5rem 0.5rem 0.65rem;
}

#gallery2 > div:nth-child(1)
{
   padding: 0.5rem 0.65rem 0.5rem 1.5rem;
}

#gallery2 > div:nth-child(2)
{
  padding: 0.5rem 1.5rem 0.5rem 0.65rem;
}

#conclude
{
  padding: 3rem 1.5rem 7rem 1.5rem;
}

#conclude div
{
  border-top: solid 0.3px #d4d0d0;
}

#conclude > div > p:nth-child(1)
{
  line-height: 7vw;
}



@media(max-width:500px)
{

nav
{
  padding: 1rem 2.2rem;
}
 
nav > a
{
  grid-column: 1/span 6;
  text-align: center;
  font-size: 1rem;
  padding: 0 0 1rem 0.3rem;
}

nav > ul > li 
{
  display: block;
  text-align: center;
  padding: 0.5rem 0.5rem;
}

header
{
height: 60vh;
}

header > p
{
 line-height: 10vh;
 padding: 2rem 0 0 0;
}

#main
{
  display: block;
  padding: 3rem 2rem 0 2rem;
  border-bottom: solid 0.3px #d4d0d0;
}

#main div
{
  border-bottom: none;
  padding-bottom: 2.5rem;
}

#info
{
  padding-bottom: 0;
}

#info > p:nth-child(1)
{
  line-height: 10vw;
}


#amenities
{
  padding-right: 13rem;
}

#reviews
{
  display: block;
  border-bottom: solid 0.3px #d4d0d0; 
}

#reviews  div
{
  border-bottom: none;
  padding-bottom: 0;
}

#reviews h2
{
  padding-top: 1.5rem;
}

#conclude
{
  display: block;
  padding-right: 1rem;
  border-bottom: none;
}

#conclude  div
{
  padding-bottom: 1rem;
  border-top: none;
  padding-top: 0;
}

#conclude > div > p:nth-child(1)
{
  line-height: 9vw;
  padding-top: 3rem;
  border-top: solid 0.3px #d4d0d0; 
}

#conclude > div:nth-child(2)
{
  padding: 1.5rem 0 0 19rem;
}

footer > p
{
  padding: 4rem 0 4rem 0;
}

}